body {
  font-family: sans-serif;
  /* background-color: brown; */
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* background-color: blue; */
  padding: 25px;
  margin: auto;
  width: 80%;
  text-align: center;
}

@media (min-width: 1031px) {
  .main-container {
    text-align: left;
  }
}

h1 {
  font-size: 38px;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.products {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: repeat(auto-fit, 255px);
  grid-gap: 30px;
  justify-content: center;
}

.product {
  /* background-color: chartreuse; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 15px;
  padding: 28px;
  justify-content: space-between;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.03);
}

.product p {
  text-align: center;
  color: #757a88;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.product h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.heartIcon {
  width: 17px;
  height: 17px;
}

.heartIcon:hover {
  cursor: pointer;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-navigation select {
  border-color: #dee0e7;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 6px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #d1d3da;
}

.main-navigation input {
  border-color: #dee0e7;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  border-radius: 5px;
  width: 275px;
}

.main-navigation input::placeholder {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #d1d3da;
  padding: 6px;
}

button {
  width: 130px;
  align-self: center;
  height: 45px;
  padding: 6px;
  border-style: none;
  background-color: #ea580c;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 40px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #ea580c;
  color: #ea580c;
}

.filter-search {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.productImage {
  height: 200px;
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.productImage img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  margin: auto;
}

.productHead {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
